.ui.inverted.segment,
.ui.primary.inverted.segment {
  background: #fe5960 !important;
}

.ui.secondary.inverted.pointing.menu {
  border: 0 !important;
}
.ui.pointing.label {
  margin-top: 0px!important;
}